@model DigitalResourcesLibrary.Models.SearchViewModel
@{
    ViewBag.Title = "Search Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="posts">
    @using (Html.BeginForm())
    {
        <div class="navbar">
            <div class="navbar-inner">
                <form class="navbar-search pull-left">
                    @Html.TextBoxFor(model => model.SearchModel.SearchText, null, new
                    {
                        @class = "search-query",
                        placeholder = "Search",
                        id = "autocompleteRepository"
                    })
                </form>
                <button class="btn" type="submit">@ViewRes.Resource.Shared_Menu_Search</button>
            </div>
        </div>
    }
    
    @foreach (var item in Model.Documents)
    {
        @Html.Partial("Template/SearchDocumentTemplate", item)
    }
    
    <div class="pagination">
        <ul>
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li ><a href="#">2</a></li>
            <li ><a href="#">3</a></li>
            <li ><a href="#">4</a></li>
            <li ><a href="#">4</a></li>
            <li ><a href="#">&laquo;</a></li>
        </ul>
    </div>
</div>
@Html.Partial("Template/CategoriesTemplate")
<div style="clear: both;"></div>
