<div class="localization-flag">
    <ul>
        <li>
            <a href="@Url.RouteUrl("", new RouteValueDictionary(new { action = "ChangeCulture", controller = "Home", lang = "RU", returnUrl = this.Request.RawUrl }))">
                <img src="~/Content/themes/images/Russia.png" alt="My Image" width="60" height="60" />
            </a>
        </li>

        <li>
            <a href="@Url.RouteUrl("", new RouteValueDictionary(new { action = "ChangeCulture", controller = "Home", lang = "EN", returnUrl = this.Request.RawUrl }))">
                <img src="~/Content/themes/images/United-States.png" alt="My Image" width="60" height="60" />
            </a>
        </li>
    </ul>
</div>
