<div class="top-content">
    <div id="menu">
        <ul>
            <li>@Html.ActionLink(ViewRes.Resource.Shared_Menu_Home, "Index", "Home")</li>
            <li>@Html.ActionLink(ViewRes.Resource.Shared_Menu_Search, "Index", "Home")</li>
            <li>@Html.ActionLink(ViewRes.Resource.Shared_Menu_About, "About", "Home")</li>
        </ul>
    </div>
    @Html.Partial("_CultureChooserUserControl")
</div>
