
@if (!Model.ValidModel)
{
    <div class="story">
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Warning!</h4>
            Страница не найдена
        </div>
    </div>
}