@model DigitalResourcesLibrary.Models.ArticleViewModel
@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="posts" class="documents">
    <h2 class="title">@Model.Title</h2>
    <div class="story">
        @Html.Raw(Model.Content)
    </div>
</div>
@Html.Partial("Template/LeftPanel", Model)
<div style="clear: both;"></div>
