@using System.Globalization
@using DigitalResourcesLibrary.DataContext.Helper
@{
    const int countMounth = 5;
    var dateNow = DateTime.Now;
    var date = new List<DateTime>();
    for (int i = 0; i < countMounth; i++)
    {
        date.Add(dateNow.AddMonths(-i));
    }
}
<div id="links">
    <div class="block">
        <h2>@ViewRes.Resource.Shared_Template_Archives_Title</h2>
        <ul class="categories">
            @for (int i = 0; i < countMounth; i++)
            {
                <li><a href="#">@date[i].ToString("MMMM yyyy", new CultureInfo(LocalizationHelper.GetLocalizationLanguage().ToString()))</a></li>
            }
        </ul>
    </div>
    <div class="block">
        <h2>@ViewRes.Resource.Shared_Template_Categories_Title</h2>
        <ul class="ul-treefree ul-dropfree">
            <li>
                @Html.ActionLink("Lorem ipsum dolor sit amet, consectetuer adipiscing elit.", "Search", "Search", new { id = 3 }, null)
                <ul>
                    <li>Aenean commodo ligula eget dolor.</li>
                    <li>
                        Aenean massa.
                        <ul>
                            <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
                            <li>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</li>
                            <li>Nulla consequat massa quis enim.</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                <ul>
                    <li>
                        In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
                        <ul>
                            <li>
                                Nullam dictum felis eu pede mollis pretium.
                                <ul>
                                    <li>Integer tincidunt.</li>
                                </ul>
                            </li>
                            <li>
                                Cras dapibus.
                                <ul>
                                    <li>Vivamus elementum semper nisi.</li>
                                </ul>
                            </li>
                            <li>
                                Aenean vulputate eleifend tellus.
                                <ul>
                                    <li>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</li>
                    <li>
                        Phasellus viverra nulla ut metus varius laoreet.
                        <ul>
                            <li>
                                Quisque rutrum.
                                <ul>
                                    <li>Aenean imperdiet.</li>
                                </ul>
                            </li>
                            <li>
                                Etiam ultricies nisi vel augue.
                                <ul>
                                    <li>Curabitur ullamcorper ultricies nisi.</li>
                                </ul>
                            </li>
                            <li>
                                Nam eget dui.
                                <ul>
                                    <li>Etiam rhoncus.</li>
                                </ul>
                            </li>
                            <li>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.</li>
                        </ul>
                    </li>
                    <li>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.</li>
                    <li>Maecenas nec odio et ante tincidunt tempus.</li>
                    <li>Donec vitae sapien ut libero venenatis faucibus.</li>
                    <li>Nullam quis ante.</li>
                    <li>Etiam sit amet orci eget eros faucibus tincidunt.</li>
                </ul>
            </li>
            <li>Duis leo.</li>
            <li>
                Sed fringilla mauris sit amet nibh.
                <ul>
                    <li>
                        Donec sodales sagittis magna.
                        <ul>
                            <li>
                                Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero.
                                <ul>
                                    <li>Fusce vulputate eleifend sapien.</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus.
                        <ul>
                            <li>
                                Nullam accumsan lorem in dui.
                                <ul>
                                    <li>Cras ultricies mi eu turpis hendrerit fringilla.</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia.</li>
                </ul>
            </li>
            <li>
                Nam pretium turpis et arcu.
                <ul>
                    <li>
                        Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum.
                        <ul>
                            <li>
                                Sed aliquam ultrices mauris.
                                <ul>
                                    <li>
                                        Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris.
                                        <ul>
                                            <li>
                                                Praesent adipiscing.
                                                <ul>
                                                    <li>Phasellus ullamcorper ipsum rutrum nunc.</li>
                                                    <li>Nunc nonummy metus.</li>
                                                    <li>Vestibulum volutpat pretium libero.</li>
                                                </ul>
                                            </li>
                                            <li>Cras id dui.</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Aenean ut</li>
        </ul>
    </div>
</div>