@using DigitalResourcesLibrary.DataContext.Enums
@model DigitalResourcesLibrary.DataContext.Model.Documents.DocumentModel

<div class="post">
    <h2 class="title">
        @if (Model.TypeDocument == TypeDocument.Article)
        {
            @Html.ActionLink(Model.Title, "Article", "Documents", new { id = Model.Id }, null)
        }
        else
        {
            @Html.ActionLink(Model.Title, "Store", "Documents", new { id = Model.Id }, null)
        }
    </h2>
    <div class="story">
        <p>@Model.Description</p>
    </div>
    <div class="meta">
        <p class="date">Posted on @Model.ModifiedDate</p>
        @*<p class="file">Filed under <a href="#">Uncategorized</a> | <a href="#">Edit</a> | <a href="#">28 Comments</a></p>*@
    </div>
</div>
