@model DigitalResourcesLibrary.Models.SearchViewModel
@{
    ViewBag.Title = ViewRes.Resource.Shared_Menu_About + " - " + ViewRes.Resource.Site_Name_Header;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="posts">
    <div class="about">
        @Html.Raw(ViewRes.Resource.Home_About_Body)
    </div>

</div>
@Html.Partial("Template/LeftPanel", Model)
<div style="clear: both;"></div>
