
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="posts">
    Гродно – город церквей и костёлов, старых замков и дворцов королей. Древняя история Гродно начиналась с Замковой горы. На высоком холме, в устье рек Немана и Городничанки в Х-ХI веках было заложено укрепленное поселение. В 1127 году город впервые упоминается в письменных источниках.
    История отвела этому городу необычное место в решении судеб крупнейших европейских государств. В XIII веке здесь начиналось Великое княжество Литовское. В конце XVIII века в гродненском Новом замке претерпела второй раздел, а позже прекратила своё существование некогда могущественная Речь Посполитая.
    В Гродно можно подняться на Замковую гору, с которой виден весь старый город, посетить старейшую церковь Беларуси – Борисо-Глебскую или Коложскую (12 век), Фарный костёл, в котором по статусу службу может вести сам Папа Римский. Рядом с католическими костёлами и православными церквями - лютеранская кирха и еврейская синагога. Приятно пройти улочками старого города, по которым некогда гуляли Стефан Баторий и Станислав Понятовский, Антоний Тизенгауз и Жан Жилибер, Чеслав Немен и Элиза Ожешко, Максим Богданович и Василь Быков…
    Гродно и сегодня богат на таланты. Чтобы больше узнать о Гродно и гродненцах, создана краеведческая электронная библиотека (КЭБ) “Гродно – информация для всех”.  
    Цель КЭБ - сбор, сохранение, актуализация и предоставление для использования многоаспектной, политематической краеведческой информации. 
    КЭБ "Гродно - информация для всех" - это хранилище электронных документов различных форматов, которые имеют отношение к городу Гродно (Республика Беларусь). Это база данных с наличием фактографического, библиографического, графического, звукового, полнотекстовые материала и возможностью точного поиска в нем. 
    Подавляющее большинство материалов готовится сотрудниками библиотек. Электронная библиотека организована с учетом требований Закона Республики Беларусь "Об авторском пнраве и смежных правах" (Статьи 36 и 37). Издания определенных авторов находятся в электронной библиотеке с их разрешения. Документы, фотографии, видеосюжеты, рукописи, публикации переданы для электронной библиотеки авторами, персонами либо членами их семей из личных архивов. Использованные тексты статей из журналов, газет, сборников имеют библиографические ссылки и описания первоисточников публикации. 
    <br>
</div>
@Html.Partial("Template/CategoriesPartialView")
<div style="clear: both;"></div>
