.top-content {
    width: 750px;
	height: 60px;
	margin: 0 auto;
    overflow: auto;
}

.localization-flag {
    float: right;
}

.localization-flag ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.localization-flag li {
    display: block !important;
    float: left !important;
    height: 60px !important;
    padding: 0 0 0 2px !important;
    width: auto !important;
}

.localization-flag a {
    padding: 0 !important;
    width: auto !important;
    background: none !important;
}

.localization-flag img {
    border-radius: 50%;
    margin: 3px;
    padding: 2px;
    width: 50px;
    height: 50px;
}

.localization-flag img:hover {
    background-color: #505050;
}

/*flash player http://www.videojs.com/ */
.vjs-default-skin .vjs-play-progress,
.vjs-default-skin .vjs-volume-level { background-color: #00a5ff }
.vjs-default-skin .vjs-control-bar, .vjs-default-skin .vjs-big-play-button { background: rgba(0,0,0,1) }
.vjs-default-skin .vjs-slider { background: rgba(0,0,0,0.3333333333333333) }
.vjs-default-skin .vjs-control-bar { font-size: 101% }

.media-content {
    width: 510px;
  }