@using DigitalResourcesLibrary.DataContext.Helper
@model DigitalResourcesLibrary.DataContext.Model.Documents.StoreModel
<audio preload="none" controls>
    <source src="@Url.Action("DownloadFile", "Files", new { id = Model.Id, filename = Model.FileName })" type='@FileHelper.GeType(Model.Type)'>
    Audio tag not supported. Download the audio <a href="~/Content/themes/audio.mp3">here</a>.
</audio>
