@model DigitalResourcesLibrary.Models.StoreViewModel
           
<audio class="audio" preload="none" controls>
    <source src="@Url.Action("DownloadFile", "Files", new { id = Model.Id, filename = Model.FileName })" type='@Model.MimeType'>
    Audio tag not supported. Download the audio <a href="~/Content/themes/audio.mp3">here</a>.
</audio>