@model DigitalResourcesLibrary.Models.StoreViewModel

<div class="highslide-gallery">
    <a href="@Url.Action("DownloadFile", "Files", new { id = Model.Id, filename = Model.FileName })" class="highslide" onclick="return hs.expand(this)">
        <img src="@Url.Action("DownloadFile", "Files", new { id = Model.Id, filename = Model.FileName })" alt=""
             title="@ViewRes.Resource.Documents_OpenFile_ImageFile_Click_to_Enlarge" height="200" width="200" />
    </a>
    <div class="highslide-caption">
        @Model.Title
    </div>
</div>
<br>