@model DigitalResourcesLibrary.Models.StoreViewModel

<video id="my_video_1" class="video-js vjs-default-skin" controls preload="none" width="auto" height="264"
       data-setup="{}">
    <source src="@Url.Action("DownloadFile", "Files", new { id = Model.Id, filename = Model.FileName })" type='@Model.MimeType'>
    Video tag not supported. Download the video <a href="~/Content/themes/video.mp4">here</a>.
</video>